.header {
background-color: black;
}


header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display:inline;
}
nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float:right;
    display:inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  color: black;
  transform: translate(-50%, -50%);
    padding-left: 20px;
    padding-right: 20px;
}
